body {
    margin: 0;
    padding: 0;
    background: url("../images/header.jpg") center/cover;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.toolbar {
    padding-right: 1vw;
    height: 3vh;
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: flex-end;
    gap: 1vw; 
    
}

.toolbarRight{color: white;}

.toolbarLeft{color: white;}

.main {
    height: 95vh;
    display: flex;
}



.leftMain { width: 25vw; height: 95vh; }

.leftMainHead, .leftMainBody {
    width: 15vw;
    margin: 9.5vh;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 30px;
    backdrop-filter: blur(25px);
    transition: all .3s;
}

.leftMainHead{
    text-align: center;
}

.leftMainHead { height: 15vh; margin-bottom: 2vh; }
.leftMainBody { height: 47vh; margin-top: 0; }

.leftMainHead:hover, .leftMainBody:hover { backdrop-filter: blur(10px); }

a {
  color: inherit;        /* Use parent element's text color */
  text-decoration: none; /* Remove underline */
}

a:hover {
  text-decoration: underline; /* Optional: add underline on hover */
  
}




